{% extends "base.html" %}

{% block content %}
<div class="centered">
    <h1>Über Herme.li</h1>
    <div class="big-text">
        <h3>Shortlink Web-App für die Herrmann AG</h3>
        <p>Herme.li ist eine einfache Web-App um Kurzlinks für verschiedenste URLs zu erstellen.
            Die Seite soll es auf eine einfache Art möglich machen, firmenintern Links für alle
            möglichen Anwendungsfälle erstellen zu können.
            Egal ob für Drucksachen, Social-Media oder interne Anwendungen.
        </p>
        <h3>Features:</h3>
        <ul>
            <li>Erstellen und verwalten von Kurzlinks</li>
            <li>Custom URLs</li>
            <li>Benutzeranmeldung</li>
            <li>Dashboard mit Linkübersicht</li>
            <li>Statistiken zu Kurzlinks</li>
        </ul>
        <p>Verwendung der Web-App ist nur für Angestellte der Herrmann AG per Login möglich.</p>
        <h3>Webseiten der Herrmann AG:</h3>
        <ul>
            <li><a href="https://www.herrmann-druck.ch/" target="_blank">Herrmann-Druck.ch</a></li>
            <li><a href="https://www.wochen-zeitung.ch/" target="_blank">Wochen-Zeitung.ch</a></li>
            <li><a href="https://www.emmentalshop.ch/" target="_blank">Emmentalshop.ch</a></li>
            <li><a href="https://verlag-herrmann.ch/" target="_blank">Verlag-Herrmann.ch</a></li>
            <li><a href="https://www.kleberexperte.ch/" target="_blank">Kleberexperte.ch</a></li>
        </ul>
        <h3>Herme.li Technologien</h3>
        <p>Herme.li ist eine Web-App basiert auf der Open-Source App <a href="https://github.com/amitt001/pygmy" target="_blank">Pygmy</a>.
        </p>
        <p>Techstack</p>
        <ul>
            <li>Python 3, JavaScript, jQuery, HTML, CSS</li>
            <li>RestAPI: Flask</li>
            <li>Frontend: Django</li>
            <li>DB: SQLite</li>
            <li>DevOps: Docker</li>
        </ul>
        <h3>Kontakt</h3>
        <p>Herrmann AG<br>
            Brennerstr. 7<br>
            3550 Langnau i.E.<br>
            Tel: <a href="tel:+41344094000">034 409 40 00</a><br>
            E-Mail: <a href="mailto:informatik@wochen-zeitung.ch">informatik@wochen-zeitung.ch</a>
        </p>
    </div>
    <br>
</div>
<div class="vcenter big-text">
    <a href="https://www.facebook.com/HerrmannAG.Langnau" target="_blank">Facebook</a>&emsp;
    <a href="https://www.linkedin.com/company/86910562/" target="_blank">LinkedIn</a>
</div>
{% endblock content %}